extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Cedric Clark

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Web Development has become one of my passions, because there is always something new to learn and overcoming each coding obstacle is a pleasure. Web development has me always seeking ways to improve upon my skill set.
            | My wife and son help keep me motivated and pushing forward. Some things I love to do when am not coding are as follows: bowling, going to the gym and watching movies.
            | 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul.text-light
          li HTML
          li CSS
          li Javascript
          li jQuery
          li AJAX
          li Node.js
          li NPM
          li Express 
          li Pug
          li OOP Programming
        h6 Contact Info

        //- Add your own contact info
        ul
          li cpclark360@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/cedric-clark-a5a99479/') LinkedIn
        a.button.expanded(href='https://github.com/cpclark360') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  