
h1,h2,h3,h4,h5,p{
  font-family: 'Merriweather', serif;
}

  h1{
    display: block;
    font-family: 'Titillium Web', sans-serif;
  
  }

  h5{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  h6{
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    font-weight: 600;
    
  }

  p{
    font-size: 15px;
    color: rgb(0, 0, 0);
  }

.round{
  border-radius: 3px;
}

.text-light{
  color: rgb(0, 0, 0);
}

.button{
  border-radius: 5px;
  background-color: #333;

  -moz-box-shadow:    3px 6px 5px 6px #ccc;
  -webkit-box-shadow: 5px 5px 6px 1px #ccc;
  box-shadow:         6px 6px 5px 1px #ccc;
}

.button:hover{
  background-color:rgb(251, 182, 82);
}

a{
color:black;
}

a:hover{
  color:rgb(251, 182, 82);
}

.image{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #fefefe;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
  border-width: 3px;
    border-style: solid;
    border-color:black;
    border-radius: 15px;
    margin-bottom: 20px;

    -moz-box-shadow:    3px 6px 5px 6px #ccc;
    -webkit-box-shadow: 5px 5px 6px 6px #ccc;
    box-shadow:         6px 6px 6px 6px #ccc;
}

.portfolio-me{
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 0px;

  padding: 0px;
  background: #121213;
  color: #fff;
  box-shadow: none !important;
}

  .portfolio-me p{
    font-size: 14px;
    color: #fff;
  }

  .portfolio-me a{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 13px;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;

  }

  .portfolio-me a:hover{
    color: rgb(251, 182, 82);

  }

.portfolio-breadcrumb{
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
}

 .portfolio-breadcrumb a{
   font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-weight: 600;
   font-size: 13px;
   letter-spacing: 2.5px;
   -webkit-text-transform: uppercase;
   text-transform: uppercase;
 }

.portfolio-intro{
  margin: 0;
  padding: 40px 50px 30px;
}

.portfolio-intro p{
  border-bottom: 1px solid #000000;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

.portfolio-index{
  margin: 0;
  padding: 10px 50px;
}

  .portfolio-index {
    margin-bottom: 5px;
  }

  .thumbnail{
    border-width: 3px;
    margin-bottom: 5px;
    border-top-left-radius: 15px;
    border-top-right-radius:15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

  }

  .thumbnail_profile{
    border-radius: 50%;
    text-align:right;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
  }

  .portfolio-index a{
    color: #222;
  }

  .portfolio-index .cell{
    border-width: 3px;
    border-style: solid;
    border-color:black;
    border-radius: 15px;
    margin-bottom: 15px;

    -moz-box-shadow:    3px 6px 5px 6px #ccc;
    -webkit-box-shadow: 5px 5px 6px 6px #ccc;
    box-shadow:         6px 6px 5px 6px #ccc;
  }

    .portfolio-index .cell h5{
      letter-spacing: 1px;
    }

    .portfolio-index .cell:hover{
      border-width: 3px;
      border-style: solid;
      border-color:black;
      background-color:rgb(251, 182, 82);

    }

.portfolio-meta{
  padding-left: 20px;
}

  .portfolio-meta .button{
    margin-bottom: 5px;
  }

.portfolio-project p{
  border: none;
}

.portfolio-project li{
  font-size: 13px;
  color:#0a0a0a;
}

.portfolio-bio{
    line-height: 25px;
}

/* Added CSS */
.center {
  display: inline-block;
  vertical-align: middle;
  float: none;
}